<!--yeoman-welcome-->

<div id="content" class="max-width">
          <article id="button" class="component">
            <header>
              <h2>Button</h2>
            </header>
            <section class="component"><a class="topcoat-button">Button</a>
<a class="topcoat-button is-active">Button</a>
<a class="topcoat-button is-disabled">Button</a></section>
          </article>
          <article id="quiet-button" class="component">
            <header>
              <h2>Quiet Button</h2>
            </header>
            <section class="component"><a class="topcoat-button--quiet">Button</a>
<a class="topcoat-button--quiet is-active">Button</a>
<a class="topcoat-button--quiet is-disabled">Button</a></section>
            
          </article>
          <article id="large-button" class="component">
            <header>
              <h2>Large Button</h2>
            </header>
            <section class="component"><a class="topcoat-button--large">Button</a>
<a class="topcoat-button--large is-active">Button</a>
<a class="topcoat-button--large is-disabled">Button</a></section>
            
          </article>
          <article id="large-quietbutton" class="component">
            <header>
              <h2>Large Quiet Button</h2>
            </header>
            <section class="component"><a class="topcoat-button--large--quiet">Button</a>
<a class="topcoat-button--large--quiet is-active">Button</a>
<a class="topcoat-button--large--quiet is-disabled">Button</a></section>
            
          </article>
          <article id="call-toaction button" class="component">
            <header>
              <h2>Call To Action Button</h2>
            </header>
            <section class="component"><a class="topcoat-button--cta">Button</a>
<a class="topcoat-button--cta is-active">Button</a>
<a class="topcoat-button--cta is-disabled">Button</a></section>
            
          </article>
          <article id="large-callto action button" class="component">
            <header>
              <h2>Large Call To Action Button</h2>
            </header>
            <section class="component"><a class="topcoat-button--large--cta">Button</a>
<a class="topcoat-button--large--cta is-active">Button</a>
<a class="topcoat-button--large--cta is-disabled">Button</a></section>
            
          </article>
          <article id="icon-button" class="component">
            <header>
              <h2>Icon Button</h2>
            </header>
            <section class="component"><a class="topcoat-icon-button">
<span class="topcoat-icon topcoat-icon--menu-stack"></span>
</a>

<a class="topcoat-icon-button is-active">
<span class="topcoat-icon topcoat-icon--menu-stack"></span>
</a>

<a class="topcoat-icon-button is-disabled">
<span class="topcoat-icon topcoat-icon--menu-stack"></span>
</a></section>
            
          </article>
          <article id="quiet-iconbutton" class="component">
            <header>
              <h2>Quiet Icon Button</h2>
            </header>
            <section class="component"><a class="topcoat-icon-button--quiet">
<span class="topcoat-icon topcoat-icon--menu-stack"></span>
</a>

<a class="topcoat-icon-button--quiet is-active">
<span class="topcoat-icon topcoat-icon--menu-stack"></span>
</a>

<a class="topcoat-icon-button--quiet is-disabled">
<span class="topcoat-icon topcoat-icon--menu-stack"></span>
</a></section>
            
          </article>
          <article id="large-iconbutton" class="component">
            <header>
              <h2>Large Icon Button</h2>
            </header>
            <section class="component"><a class="topcoat-icon-button--large">
<span class="topcoat-icon--large topcoat-icon--menu-stack"></span>
</a>

<a class="topcoat-icon-button--large is-active">
<span class="topcoat-icon--large topcoat-icon--menu-stack"></span>
</a>

<a class="topcoat-icon-button--large is-disabled">
<span class="topcoat-icon--large topcoat-icon--menu-stack"></span>
</a></section>
            
          </article>
          <article id="large-quieticon button" class="component">
            <header>
              <h2>Large Quiet Icon Button</h2>
            </header>
            <section class="component"><a class="topcoat-icon-button--large--quiet">
<span class="topcoat-icon--large topcoat-icon--menu-stack"></span>
</a>

<a class="topcoat-icon-button--large--quiet is-active">
<span class="topcoat-icon--large topcoat-icon--menu-stack"></span>
</a>

<a class="topcoat-icon-button--large--quiet is-disabled">
<span class="topcoat-icon--large topcoat-icon--menu-stack"></span>
</a></section>
            
          </article>
          <article id="list" class="component">
            <header>
              <h2>List</h2>
            </header>
            <section class="component"><div class="topcoat-list__container">
<h3 class="topcoat-list__header">Category</h3>
<ul class="topcoat-list">
<li class="topcoat-list__item">
Item
</li>
<li class="topcoat-list__item">
Item
</li>
<li class="topcoat-list__item">
Item
</li>
</ul>
</div></section>
            
          </article>
          <article id="navigation-bar" class="component">
            <header>
              <h2>Navigation Bar</h2>
            </header>
            <section class="component"><div class="topcoat-navigation-bar">
<div class="topcoat-navigation-bar__item left quarter">
<a class="topcoat-icon-button--quiet">
<span class="topcoat-icon topcoat-icon--menu-stack"></span>
</a>
</div>
<div class="topcoat-navigation-bar__item center half">
<h1 class="topcoat-navigation-bar__title">Header</h1>
</div>
<div class="topcoat-navigation-bar__item right quarter">
<a class="topcoat-icon-button--quiet">
<span class="topcoat-icon topcoat-icon--edit"></span>
</a>
</div>
</div></section>
            
          </article>
          <article id="search-input" class="component">
            <header>
              <h2>Search Input</h2>
            </header>
            <section class="component"><input type="search" value="" placeholder="search" class="topcoat-search-input">
<input type="search is-disabled" value="" placeholder="search" class="topcoat-search-input"></section>
            
          </article>
          <article id="large-searchinput" class="component">
            <header>
              <h2>Large Search Input</h2>
            </header>
            <section class="component"><input type="search" value="" placeholder="search" class="topcoat-search-input--large">
<input type="search" value="" placeholder="search" class="topcoat-search-input--large .is-disabled"></section>
            
          </article>
          <article id="text-input" class="component">
            <header>
              <h2>Text Input</h2>
            </header>
            <section class="component"><input type="text" class="topcoat-text-input" value="" placeholder="text">
<input type="text" class="topcoat-text-input is-disabled" value="" placeholder="text"></section>
            
          </article>
          <article id="large-textinput" class="component">
            <header>
              <h2>Large Text Input</h2>
            </header>
            <section class="component"><input type="text" class="topcoat-text-input--large" value="" placeholder="text">
<input type="text" class="topcoat-text-input--large is-disabled" value="" placeholder="text"></section>
            
          </article>
          <article id="topcoat-textarea" class="component">
            <header>
              <h2>TopCoat Textarea</h2>
            </header>
            <section class="component"><textarea class="topcoat-textarea" rows="6" cols="36" placeholder="Textarea"></textarea></section>
            
          </article>
          <article id="topcoat-largetextarea" class="component">
            <header>
              <h2>Topcoat Large Textarea</h2>
            </header>
            <section class="component"></section>
          </article>
        </div>